@use "../color.scss";

.ranking {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 90%;
    max-width: 1000px;
    height: 80%;
    display: flex;
    flex-direction: column;

    .menu {
      width: 100%;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;

      .tabs {
        border-bottom: solid 1px color.$gray-500;
        overflow: hidden;
        display: inline-flex;

        .tab {
          padding: 10px 20px;
          color: color.$gray-500;
          background: none;
          border: none;
          font-size: 18px;
          user-select: none;
          cursor: pointer;
          border-bottom: solid 2px transparent;
          margin-bottom: -1px;
          transition:
            color 0.2s,
            border-color 0.2s;

          &:hover {
            color: color.$white;
          }

          &.selected {
            color: color.$white;
            border-bottom-color: color.$white;
          }
        }
      }

      .refreshButtonWrapper {
        margin-left: 20px;
      }
    }

    .tableContainer {
      flex-grow: 1;
      overflow: auto;
    }

    .pagination {
      width: 100%;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
    }
  }
}
