@use "@/assets/sass/color.scss";

.box {
  width: 70%;
  height: calc(100% - 300px);
  margin: 50px auto 0 auto;
  padding: 20px 30px;
  position: absolute;
  left: 15%;
  top: 90px;
  background-color: color.$bluegray-900;
  border: solid 4px color.$white;
  display: flex;
  flex-direction: column;

  @media (max-width: 1024px) {
    width: 90%;
    left: 5%;
  }
  @media (max-width: 768px) {
    height: calc(100% - 150px);
    top: 70px;
    padding: 10px 15px;
  }
  @media (max-height: 768px) {
    height: calc(100% - 80px);
    top: -10px;
  }

  .header {
    padding-left: 14px;
    padding-top: 6px;
    position: absolute;
    left: 30px;
    top: 0;
    color: color.$white;
    font-size: 48px;
    font-weight: bold;
    display: block;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-left: solid 20px color.$red-500;

    span {
      padding-left: 10px;
      font-size: 28px;
      color: color.$red-200;
    }

    @media (max-width: 768px) {
      font-size: 24px;
      padding: 8px 0;
      margin-bottom: 15px;
    }
  }

  .table {
    margin-top: 70px;
    overflow: auto;
    flex-grow: 1;

    .row {
      width: 50%;
      height: 60px;
      margin: 0 auto;
      padding-top: 6px;
      overflow: hidden;
      border-bottom: solid 1px color.$gray-300;

      @media (max-width: 768px) {
        width: 90%;
        margin: 8px auto;
      }

      .left,
      .right {
        width: 50%;
        color: color.$white;
        font-size: 28px;

        @media (max-width: 768px) {
          font-size: 18px;
        }
      }

      .left {
        padding-top: 14px;
        float: left;
      }

      .right {
        float: right;
        text-align: right;
        font-size: 42px;
        color: color.$blue-200;

        span {
          padding-left: 6px;
          font-size: 28px;
          color: color.$white;
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding-top: 20px;
    flex-shrink: 0;

    @media (max-width: 768px) {
      padding-top: 15px;
    }

    .container {
      display: block;

      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .button {
        width: 300px;
        margin: 0 10px;
        padding: 10px 0;
        color: color.$white;
        border: 0;
        border-radius: 4px;
        float: left;
        font-size: 24px;
        text-align: center;
        user-select: none;
        cursor: pointer;
        transition: all 0.2s 0s ease;

        @media (max-width: 768px) {
          float: none;
          width: 80%;
          max-width: 300px;
          font-size: 18px;
          padding: 8px 0;
          margin: 5px 0;
        }

        &.red {
          background-color: color.$red-800;

          &:hover {
            background-color: color.$red-500;
          }
        }

        &.blue {
          background-color: color.$blue-800;

          &:hover {
            background-color: color.$blue-500;
          }
        }
      }
    }
  }
}

.centerText {
  display: flex;
  justify-content: center;
  align-items: center;
}
