@use "../color.scss";

.button {
  margin: 0 10px;
  padding: 10px 20px;
  color: color.$white;
  background-color: color.$blue-800;
  font-size: 18px;
  border: 0;
  border-radius: 4px;
  float: left;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s 0s ease;

  &:hover {
    background-color: color.$blue-500;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      background-color: color.$blue-800;
    }
  }
}
