name: Build / Push Docker Image to Registry

on:
  push:
    branches:
      - develop

permissions:
  contents: read
  packages: write

jobs:
  image:
    name: Build / Push
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: su-its
          password: ${{ secrets.GITHUB_TOKEN }}
      # FIXME: できることなら NEXT_PUBLIC_ は使いたくない
      - name: Prepare environment variable file
        working-directory: typing-app
        run: echo 'NEXT_PUBLIC_API_URL=${{ secrets.PROD_NEXT_PUBLIC_API_URL }}' >> .env.production
      - name: Docker Buildx Bake
        uses: docker/bake-action@v5
        with:
          workdir: docker
          files: compose.ci.yaml
          push: true
