name: golangci-lint

on:
  push:
    branches:
      - main
      - develop
    paths:
      - "typing-server/**"
  pull_request:
    branches:
      - main
      - develop
    paths:
      - "typing-server/**"

permissions:
  contents: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.23.4"
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.62.2
          working-directory: typing-server # Set this to the directory where your Go code is located
